In [2]:
from pyspark.sql import SparkSession
import pyspark.sql.functions as F

# Creating a SparkSession
spark = SparkSession.builder.appName("Tomatometer") \
                       .getOrCreate()

In [3]:
# Read a CSV file
df = spark.read.csv('./data/rotten_tomatoes_movies.csv', header=True, inferSchema=True)

In [4]:
df.show()

+--------------------+--------------------+-------------+-----------+------+--------------------+-------------------+--------------------+--------------+--------------------+----------------+--------------------+--------------------+---------+-----------------+--------+
|                  id|               title|audienceScore|tomatoMeter|rating|      ratingContents|releaseDateTheaters|releaseDateStreaming|runtimeMinutes|               genre|originalLanguage|            director|              writer|boxOffice|      distributor|soundMix|
+--------------------+--------------------+-------------+-----------+------+--------------------+-------------------+--------------------+--------------+--------------------+----------------+--------------------+--------------------+---------+-----------------+--------+
|  space-zombie-bingo| Space Zombie Bingo!|           50|       NULL|  NULL|                NULL|               NULL|          2018-08-25|            75|Comedy, Horror, S...|         English|       George Ormrod|George Ormrod,Joh...|     NULL|             NULL|    NULL|
|     the_green_grass|     The Green Grass|         NULL|       NULL|  NULL|                NULL|               NULL|          2020-02-11|           114|               Drama|         English|     Tiffany Edwards|     Tiffany Edwards|     NULL|             NULL|    NULL|
|           love_lies|          Love, Lies|           43|       NULL|  NULL|                NULL|               NULL|                NULL|           120|               Drama|          Korean|Park Heung-Sik,He...|Ha Young-Joon,Jeo...|     NULL|             NULL|    NULL|
|the_sore_losers_1997|         Sore Losers|           60|       NULL|  NULL|                NULL|               NULL|          2020-10-23|            90|Action, Mystery &...|         English|John Michael McCa...|John Michael McCa...|     NULL|             NULL|    NULL|
|dinosaur_island_2002|     Dinosaur Island|           70|       NULL|  NULL|                NULL|               NULL|          2017-03-27|            80|Fantasy, Adventur...|         English|       Will Meugniot|            John Loy|     NULL|             NULL|    NULL|
|         adrift_2018|              Adrift|           65|         69| PG-13|['Injury Images',...|         2018-06-01|          2018-08-21|           120|Adventure, Drama,...|         English|   Baltasar Korm√°kur|Aaron Kandell,Jor...|   $31.4M|        STX Films|    NULL|
|malta-con-huevo-s...|      Scrambled Beer|           55|       NULL|  NULL|                NULL|               NULL|          2015-10-05|            88|              Comedy|         Spanish|Cristobal Valderrama|Cristobal Valderrama|     NULL|             NULL|    NULL|
|    kakabakaba-ka-ba|Kakabakaba ka ba?...|           88|       NULL|  NULL|                NULL|               NULL|                NULL|          NULL|                NULL|            NULL|        Mike de Leon|                NULL|     NULL|             NULL|    NULL|
|          sundowning|          Sundowning|         NULL|       NULL|  NULL|                NULL|               NULL|                NULL|           123|               Drama|         English|      Jim Comas Cole|                NULL|     NULL|             NULL|    NULL|
|1035316-born_to_kill|        Born to Kill|           74|         83|  NULL|                NULL|         1947-04-30|          2016-05-23|            92|        Crime, Drama|         English|         Robert Wise|Eve Greene,Richar...|     NULL|             NULL|    NULL|
|1015331-number_on...|Number One With a...|           19|       NULL|  NULL|                NULL|               NULL|          2012-03-13|           103|        Crime, Drama|         English|         Jack Smight|                NULL|     NULL|             NULL|    NULL|
|  garden_murder_case|The Garden Murder...|         NULL|       NULL|  NULL|                NULL|               NULL|          2016-10-20|            61|  Mystery & thriller|         English|      Edwin L. Marin|                NULL|     NULL|             NULL|    NULL|
|margarita_happy_hour|Margarita Happy Hour|         NULL|         76|  NULL|                NULL|         2002-03-22|                NULL|            98|               Drama|         English|        Ilya Chaiken|        Ilya Chaiken|   $11.5K|Passport Pictures|Surround|
|  leap_of_faith_2019|Leap of Faith: Wi...|           86|         93|  NULL|                NULL|               NULL|          2020-11-19|           104|Documentary, Myst...|         English|Alexandre O. Phil...|Alexandre O. Phil...|     NULL|             NULL|    NULL|
| shake-rattle-roll-3|Shake Rattle & Ro...|           89|       NULL|  NULL|                NULL|               NULL|          2019-01-04|           120|      Comedy, Horror|         Tagalog|Peque Gallaga,Lor...|                NULL|     NULL|             NULL|    NULL|
|           daag_1973|           The Stain|           82|       NULL|  NULL|                NULL|               NULL|          2003-11-25|           146|               Drama|           Hindi|         Yash Chopra|Yash Chopra,Gulsh...|     NULL|             NULL|    NULL|
|crown_vs_stevens_...|   Crown vs. Stevens|           60|       NULL|  NULL|                NULL|               NULL|                NULL|            66|Crime, Drama, Mys...|         English|      Michael Powell|      Brock Williams|     NULL|             NULL|    NULL|
|         1221483-paa|                 Paa|           67|         50|  NULL|                NULL|         2009-12-04|                NULL|           133|               Drama|           Hindi|            R. Balki|            R. Balki|  $199.2K|     Big Pictures|    NULL|
|f9ab9165-598c-3ac...|A Tale of Love an...|         NULL|       NULL|  NULL|                NULL|               NULL|                NULL|           103|               Drama| French (France)|        Leyla Bouzid|        Leyla Bouzid|     NULL|             NULL|    NULL|
|  the_last_gentleman|  The Last Gentleman|         NULL|       NULL|  NULL|                NULL|               NULL|                NULL|            80|              Comedy|         English|     Sidney Lanfield|                NULL|     NULL|             NULL|    NULL|
+--------------------+--------------------+-------------+-----------+------+--------------------+-------------------+--------------------+--------------+--------------------+----------------+--------------------+--------------------+---------+-----------------+--------+
only showing top 20 rows

### Pyspark Steps

#### Cleaning

In [5]:
# check missing valiues in audienceScore
audience_score_nulls = df.filter(df['audienceScore'].isNull()).count()
print(audience_score_nulls)

70010

In [6]:
# check missing valiues in tomatometer
tomato_meter_nulls = df.filter(df['tomatoMeter'].isNull()).count()
print(tomato_meter_nulls)

109381

In [7]:
# Check for missing values in releaseDateTheaters
release_date_nulls = df.filter(df['releaseDateTheaters'].isNull()).count()
print(release_date_nulls)

112485

In [8]:
# Drop rows nulls from previous columns
df_cleaned = df.dropna(subset=['audienceScore', 'tomatoMeter', 'releaseDateTheaters'])

In [9]:
audience_score_nulls = df_cleaned.filter(df['audienceScore'].isNull()).count()
print(audience_score_nulls)
# checking to make sure dropna worked

0

#### Processing

In [18]:
# Year: Create a year column by parsing the year from the releaseDateTheaters column.

In [10]:
df_cleaned.show(10)

+--------------------+--------------------+-------------+-----------+------+--------------------+-------------------+--------------------+--------------+--------------------+--------------------+--------------------+--------------------+---------+--------------------+--------+
|                  id|               title|audienceScore|tomatoMeter|rating|      ratingContents|releaseDateTheaters|releaseDateStreaming|runtimeMinutes|               genre|    originalLanguage|            director|              writer|boxOffice|         distributor|soundMix|
+--------------------+--------------------+-------------+-----------+------+--------------------+-------------------+--------------------+--------------+--------------------+--------------------+--------------------+--------------------+---------+--------------------+--------+
|         adrift_2018|              Adrift|           65|         69| PG-13|['Injury Images',...|         2018-06-01|          2018-08-21|           120|Adventure, Drama,...|             English|   Baltasar Korm√°kur|Aaron Kandell,Jor...|   $31.4M|           STX Films|    NULL|
|1035316-born_to_kill|        Born to Kill|           74|         83|  NULL|                NULL|         1947-04-30|          2016-05-23|            92|        Crime, Drama|             English|         Robert Wise|Eve Greene,Richar...|     NULL|                NULL|    NULL|
|         1221483-paa|                 Paa|           67|         50|  NULL|                NULL|         2009-12-04|                NULL|           133|               Drama|               Hindi|            R. Balki|            R. Balki|  $199.2K|        Big Pictures|    NULL|
|sarah_palin_you_b...|Sarah Palin: You ...|           61|         32|  NULL|                NULL|         2011-09-30|          2017-03-08|            90|         Documentary|             English|Nick Broomfield,J...|                NULL|   $10.5K| Freestyle Releasing|    NULL|
|a_state_of_mind_2005|     A State of Mind|           92|         89|  NULL|                NULL|         2005-08-10|          2007-06-11|            93|         Documentary|              Korean|       Daniel Gordon|                NULL|   $41.5K|       Kino Pictures|    NULL|
|        gun_shy_2017|               Salty|           38|          0|     R|['Some Sexual Con...|         2017-09-08|          2017-11-07|            86|      Comedy, Action|English (United K...|          Simon West|Toby Davies,Mark ...|     NULL|         Saban Films|    NULL|
|         johnny_cool|         Johnny Cool|           44|         50|  NULL|                NULL|         1963-10-02|          2011-06-27|           103|        Crime, Drama|             English|       William Asher|                NULL|     NULL|                NULL|    NULL|
|        race_the_sun|        Race the Sun|           41|         22|  NULL|                NULL|         1996-03-22|          2002-04-30|            99|               Drama|             English| Charles T. Kanganis|                NULL|    $1.7M|                NULL|Surround|
| paul_blart_mall_cop|Paul Blart: Mall Cop|           43|         34|    PG|['Mild Crude Humo...|         2009-01-16|          2009-05-19|            91|              Comedy|             English|          Steve Carr|Kevin James,Nick ...|  $146.3M|Sony Pictures Ent...|    NULL|
|not_without_my_da...|Not Without My Da...|           71|         53|  NULL|                NULL|         1991-01-11|          2001-10-02|           110|               Drama|             English|       Brian Gilbert|Betty Mahmoody,Wi...|   $14.0M|                NULL|Surround|
+--------------------+--------------------+-------------+-----------+------+--------------------+-------------------+--------------------+--------------+--------------------+--------------------+--------------------+--------------------+---------+--------------------+--------+
only showing top 10 rows

In [11]:
df = df_cleaned.withColumn('year', F.year(F.col('releaseDateTheaters')))
df.show(5)

+--------------------+--------------------+-------------+-----------+------+--------------------+-------------------+--------------------+--------------+--------------------+----------------+--------------------+--------------------+---------+-------------------+--------+----+
|                  id|               title|audienceScore|tomatoMeter|rating|      ratingContents|releaseDateTheaters|releaseDateStreaming|runtimeMinutes|               genre|originalLanguage|            director|              writer|boxOffice|        distributor|soundMix|year|
+--------------------+--------------------+-------------+-----------+------+--------------------+-------------------+--------------------+--------------+--------------------+----------------+--------------------+--------------------+---------+-------------------+--------+----+
|         adrift_2018|              Adrift|           65|         69| PG-13|['Injury Images',...|         2018-06-01|          2018-08-21|           120|Adventure, Drama,...|         English|   Baltasar Korm√°kur|Aaron Kandell,Jor...|   $31.4M|          STX Films|    NULL|2018|
|1035316-born_to_kill|        Born to Kill|           74|         83|  NULL|                NULL|         1947-04-30|          2016-05-23|            92|        Crime, Drama|         English|         Robert Wise|Eve Greene,Richar...|     NULL|               NULL|    NULL|1947|
|         1221483-paa|                 Paa|           67|         50|  NULL|                NULL|         2009-12-04|                NULL|           133|               Drama|           Hindi|            R. Balki|            R. Balki|  $199.2K|       Big Pictures|    NULL|2009|
|sarah_palin_you_b...|Sarah Palin: You ...|           61|         32|  NULL|                NULL|         2011-09-30|          2017-03-08|            90|         Documentary|         English|Nick Broomfield,J...|                NULL|   $10.5K|Freestyle Releasing|    NULL|2011|
|a_state_of_mind_2005|     A State of Mind|           92|         89|  NULL|                NULL|         2005-08-10|          2007-06-11|            93|         Documentary|          Korean|       Daniel Gordon|                NULL|   $41.5K|      Kino Pictures|    NULL|2005|
+--------------------+--------------------+-------------+-----------+------+--------------------+-------------------+--------------------+--------------+--------------------+----------------+--------------------+--------------------+---------+-------------------+--------+----+
only showing top 5 rows

In [15]:
# Top Movies: Find the top 5000 movies based on Tomatometer score using functions like orderBy and limit.
top_movies_df = df.orderBy(F.col('tomatoMeter').desc()).limit(5000)
top_movies_df.show()

+--------------------+--------------------+-------------+-----------+------+--------------------+-------------------+--------------------+--------------+--------------------+--------------------+--------------------+--------------------+---------+--------------------+-----------+----+
|                  id|               title|audienceScore|tomatoMeter|rating|      ratingContents|releaseDateTheaters|releaseDateStreaming|runtimeMinutes|               genre|    originalLanguage|            director|              writer|boxOffice|         distributor|   soundMix|year|
+--------------------+--------------------+-------------+-----------+------+--------------------+-------------------+--------------------+--------------+--------------------+--------------------+--------------------+--------------------+---------+--------------------+-----------+----+
|     the_human_trial|     The Human Trial|           99|        100|  NULL|                NULL|         2022-06-24|          2022-06-24|            91|         Documentary|             English|Lisa Hepner,Guy M...|         Lisa Hepner|     NULL|          Abramorama|       NULL|2022|
|             mclibel|             McLibel|           69|        100|  NULL|                NULL|         2005-04-09|          2010-09-14|            84|         Documentary|English (United K...|    Franny Armstrong|                NULL|    $4.3K|                NULL|       NULL|2005|
|   the_monkey_king_2|   The Monkey King 2|           52|        100|  NULL|                NULL|         2016-02-05|          2017-01-03|           119|Fantasy, Adventur...|             Chinese|      Pou-Soi Cheang|                NULL|  $709.6K|China Lion Film D...|Dolby Atmos|2016|
|       roll_red_roll|       Roll Red Roll|           75|        100|  NULL|                NULL|         2019-03-22|          2019-08-08|            80|Documentary, Crim...|             English|   Nancy Schwartzman|                NULL|     NULL|      Together Films|       NULL|2019|
|  singin_in_the_rain| Singin' in the Rain|           95|        100|  NULL|                NULL|         1952-04-10|          2002-09-24|           102|     Musical, Comedy|             English|Stanley Donen,Gen...|Betty Comden,Adol...|   $23.9K| Metro-Goldwyn-Mayer|       Mono|1952|
|   skid_row_marathon|   Skid Row Marathon|          100|        100|  NULL|                NULL|         2019-03-22|          2019-11-17|            85|         Documentary|             English|          Mark Hayes|          Mark Hayes|     NULL|          OWLS Media|       NULL|2019|
|         blue_dahlia|     The Blue Dahlia|           71|        100|  NULL|                NULL|         1946-04-18|          2014-11-04|            96|        Crime, Drama|             English|     George Marshall|    Raymond Chandler|     NULL|  Paramount Pictures|       Mono|1946|
|letter_from_masanjia|Letter From Masanjia|           89|        100|  NULL|                NULL|         2018-09-14|          2018-12-04|            75|         Documentary|             English|            Leon Lee|Caylan Ford,Leon Lee|   $23.5K|        Ammo Content|       NULL|2018|
|1197811-ballet_shoes|        Ballet Shoes|           66|        100|    PG|         ['Smoking']|         2008-08-26|          2008-09-02|            90|               Drama|             English|   Sandra Goldbacher|        Heidi Thomas|     NULL|Screenvision, Koc...|       NULL|2008|
|    a_foreign_affair|    A Foreign Affair|           78|        100|  NULL|                NULL|         1948-08-20|          2017-05-03|           116|     Musical, Comedy|             English|        Billy Wilder|Charles Brackett,...|     NULL|  Paramount Pictures|       Mono|1948|
|this_much_i_know_...|This Much I Know ...|           96|        100|  NULL|                NULL|         2022-05-11|                NULL|           105|  Documentary, Music|English (United K...|      Andrew Dominik|                NULL|     NULL| Trafalgar Releasing|       NULL|2022|
|all_in_the_fight_...|All In: The Fight...|           67|        100|  NULL|                NULL|         2020-09-09|          2020-09-18|           102|         Documentary|             English|Lisa Cortes,Liz G...|     Jack Youngelson|     NULL|      Amazon Studios|       NULL|2020|
|    say_your_prayers|    Say Your Prayers|           47|        100|  NULL|                NULL|         2021-04-02|          2021-04-02|            84|              Comedy|English (United K...|       Harry Michell|Jamie Fraser,Harr...|     NULL|   Gravitas Ventures|       NULL|2021|
| lumiere_and_company| Lumiere and Company|           78|        100|  NULL|                NULL|         1996-03-29|                NULL|            88|         Documentary|     French (Canada)|Merzak Allouache,...|                NULL|     NULL|          Fox Lorber|       Mono|1996|
|the_sunshine_make...| The Sunshine Makers|           74|        100|  NULL|                NULL|         2017-01-20|          2017-02-02|            90|         Documentary|English (United K...|Cosmo Feilding-Me...|Cosmo Feilding-Me...|    $9.9K|            FilmRise|       NULL|2017|
|         gloria_2012|              Gloria|           65|        100|     R|['Graphic Nudity'...|         2014-01-17|          2014-04-29|           109|      Drama, Romance|             Spanish|     Sebasti√°n Lelio|Sebasti√°n Lelio,G...|    $2.1M|Roadside Attractions|       NULL|2014|
|         at_the_fork|         At the Fork|           75|        100|  NULL|                NULL|         2016-07-13|          2016-12-29|            89|         Documentary|             English|         John Papola|Cristina Colissim...|     NULL|      Emergent Order|       NULL|2016|
|  breaking_a_monster|  Breaking a Monster|           58|        100|  NULL|                NULL|         2016-06-24|          2016-10-11|            93|  Documentary, Music|             English|          Luke Meyer|Luke Meyer,Brad T...|    $4.2K|          Abramorama|       NULL|2016|
|the_waiting_room_...|    The Waiting Room|           76|        100|  NULL|                NULL|         2012-09-26|          2013-10-22|            81|         Documentary|             English|         Peter Nicks|                NULL|  $244.1K|International Fil...|       NULL|2012|
|             coup_53|             Coup 53|           83|        100|  NULL|                NULL|         2020-08-21|                NULL|           118|         Documentary|             English|       Taghi Amirani|       Taghi Amirani|     NULL|       Amirani Media|       NULL|2020|
+--------------------+--------------------+-------------+-----------+------+--------------------+-------------------+--------------------+--------------+--------------------+--------------------+--------------------+--------------------+---------+--------------------+-----------+----+
only showing top 20 rows

In [14]:
# save as parquet
top_movies_df.write.parquet('top_movies_df.parquet')